@import '~office-ui-fabric-react/dist/sass/References.scss';

div.plusButtonContainer {
  display: flex;
  justify-content: center;
  padding: 0 0;
  background: #eee;
  height: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.367s ease;
  transition: opacity 0.367s ease;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  i.plusButton {
    font-size: 12px;
    background-color: #004e8c;
    color: #fff;
    border-radius: 50%;
    margin-top: -7px;
    width: 16px;
    height: 16px;
    padding-left: 8px;
    padding-bottom: 8px;
    cursor: pointer;
  }
}

span.drag {
  cursor: move !important;
  margin: 0 10px 0 0;
  padding-left: 10px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.PersonaWrapper {
  margin: 10px 10px;
  width: 320px;
  display: flex;
  align-items: center;
}

.stakeholderPersona {
  padding: 10px 0;
  margin: 1px 0;
  border: dashed #444 1px;
  background: #fff;
  display: flex;
  align-items: center;
}

.sectionButton {
  font-size: small;
  background-color: green;
}

.svgImage {
  max-width: 700px;
  margin-top: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.svgImageStats {
  max-width: 700px;
  margin-top: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.richTextButton {
  margin-right: 20px;
  margin-top: 10px;
}

.detailsPanel {
  :global {

    .ms-Panel-scrollableContent,
    .ms-Panel-content {
      height: 100%;
    }

    .ms-Panel-scrollableContent {
      overflow: hidden;
    }
  }
}

.stakeholdersContainer {
  font-size: 14px;
  margin: 20px;
  padding-bottom: 14px;
}

.migrationDashboard {
  .textIcon {
    min-width: 30px;
    font-size: 12px;
    padding: 0;
    top: 0;
    float: right;
    margin-left: 10px;
  }

  .textMailIcon {
    min-width: 30px;
    font-size: 12px;
    padding: 0;
    margin-right: 10px;
    top: 0;
    float: right;
  }

  .pivotItem {
    margin-top: 15px;
  }

  .stack {
    padding-left: 0 !important;
  }

  .controlPanelButton {
    margin-right: 20px;
  }

  .sectionWrapper {
    .section {
      border-bottom-color: rgb(50, 49, 48);
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-style: none;
      border-bottom-width: 0;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: rgb(50, 49, 48);
      border-left-style: none;
      border-left-width: 0;
      border-right-color: rgb(50, 49, 48);
      border-right-style: none;
      border-right-width: 0;
      border-top-color: rgb(50, 49, 48);
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-top-style: none;
      border-top-width: 0;
      box-shadow: rgba(0, 0, 0, 0.133) 0 1.6px 3.6px 0, rgba(0, 0, 0, 0.11) 0 0.3px 0.9px 0;
      box-sizing: border-box;
      color: rgb(50, 49, 48);
      display: block;
      font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
      font-size: 16px;
      font-stretch: 100%;
      font-weight: 400;
      line-height: 22.4px;
      margin-bottom: 28px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      opacity: 1;
      padding-bottom: 28px;
      padding-left: 28px;
      padding-right: 28px;
      padding-top: 5px;
      text-decoration-color: rgb(50, 49, 48);
      text-decoration-line: none;
      text-decoration-style: solid;

      .sectionHeader {
        .subHeading {
          display: block;
          font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
          font-size: 24px;
          font-weight: 600;
          height: 24px;
        }
      }
    }
  }

  /* WEBPART TITLE */
  .webpartTitle {
    textarea {
      font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
      -webkit-font-smoothing: antialiased !important;
      font-size: 20px !important;
      font-weight: 600 !important;
    }

    span[role='heading'] {
      color: #323130 !important;
      font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
      -webkit-font-smoothing: antialiased !important;
      font-size: 20px !important;
      font-weight: 600 !important;
    }
  }
}
